@import "./StyleSheets/GraphStyle.css";
@import "@fontsource/romanesco";
@import "@fontsource/noto-sans";
@import "./StyleSheets/LoginPage.css";
@import "./StyleSheets/PlaylistPage.css";

html {
  background: #232323;
  --header-font: "romanesco";
  --options-font: "noto-sans";
  --text-outline-color: rgba(0,0,0,1);
  --text-outline: -2px 0px 0 var(--text-outline-color), 2px 0px 0 var(--text-outline-color), 0px -2px 0 var(--text-outline-color), 0px 2px 0 var(--text-outline-color);
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.mainContent {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.albumContainer {
  width: 100vw;
  height: 90vh;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumCover {
  width: 30vw;
  height: 60vh;
}

.topBar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pageHeader {
  height: 10vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font);
  font-size: 9vmin;
  color: #ffffff;
  text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.25), var(--text-outline);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.topBarButton {
  height: 10vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 6vmin;
  color: #ffffff;
  text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.25), var(--text-outline);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

.topBarButton:hover {
  color: #c7c7c7;
}

.pageHeader:hover {
  color: #c7c7c7;
}

.pageHeader:hover > .heart {
  color: #BA1313;
}

.heart {
  color: #f24b4b;
}