@import "./StyleSheets/GraphStyle.css";

html {
  background: #232323;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.mainContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.albumContainer {
  width: 30%;
  height: 30%;
  position:absolute;
  background-color: rosybrown;
}