.lineGraph {
    width: 100vw !important;
    height: 90vh !important;
    background: linear-gradient(0deg, #000000 20%, rgba(0, 0, 0, 0.7) 70%, rgba(0,0,0,0.5) 90%,rgba(0, 0, 0, 0) 100%);
}

.graphContainer {
    position: absolute;
    width: 100vw;
    height: 90vh;
    z-index: 10;
    backdrop-filter: blur(2px);
}